/* Update the styles.css file with the code: */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrollbars */
    background-color: #222; /* Set the background color of the page */
    height: 100%;
}

#gameContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%; /* Set the width of the game container to 80% of the viewport width */
    height: 90%; /* Set the height of the game container to 60% of the viewport height */
}

canvas {
    display: block;
    margin: auto;
    /* border: 5px solid black; Add a 5px black border around the canvas */
    width: 100%; /* Make the canvas fill the entire width of the game container */
    height: 100%; /* Make the canvas fill the entire height of the game container */
    box-sizing: border-box; /* Include the border in the element's total width and height */
    background-color: white; /* Set the background color of the canvas */
    background-image: url('media/background.jpeg'); /* Replace with the actual image path */
    background-size: cover; /* Adjust how the background image is sized */
    background-repeat: no-repeat;
    background-position: center center;
}

/* Main menu styles... */
#mainMenuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make the main menu container fill the entire width of the viewport */
    height: 100%; /* Make the main menu container fill the entire height of the viewport */
    z-index: 1;
    font-family: Arial, sans-serif;
    color: white;
    background-image: url('media/splash.jpeg'); /* Replace with the actual path to the background image */
    background-size: cover; /* Adjust how the background image is sized */
    background-repeat: no-repeat;
    background-position: center center;
}

    #mainMenuContainer .gametitle {
        position: absolute;
        top: 00%;
        left: 20%;
        font-size: 5vw;
        font-weight: bold;
        /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); Add black shadow */
        background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #80ff00, #00ff80, #0080ff, #8000ff);
        background-size: 500% 500%;
        animation: rainbow-animation 8s infinite linear;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
        @keyframes rainbow-animation {
          0% {
            background-position: 0% 50%;
          }
          100% {
            background-position: 100% 50%;
          }
        }

    /* Style the game version */
    #mainMenuContainer .version {
        position: absolute;
        top: 98%;
        left: 3%;
        font-size: 1.2vw; /* Use vw unit for responsive font size */
        color: darkgrey;
    }

#startButton {
    padding: 1vw 2vw; /* Use vw unit for responsive padding */
    font-size: 3vw; /* Use vw unit for responsive font size */
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    width: 18%; /* Use percentage for width to adjust based on viewport width */
    height: 10%; /* Use percentage for height to adjust based on viewport height */
    border-radius: 10px;
    transition: all 0.3s ease;
}

#startButton:hover {
    background-color: #ff3333;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
}

/* Style for the music toggle image */
#musicToggle {
    position: absolute;
    top: 1.5vh; /* Use vh unit for responsive vertical position */
    right: 1.5vw; /* Use vw unit for responsive horizontal position */
    cursor: pointer;
    width: 5vw; /* Use vw unit for responsive width */
    height: 5vh; /* Use vh unit for responsive height */
}

#heartsContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1.5vh; /* Use vh unit for responsive vertical position */
    position: absolute;
    top: 1%;
    left: 22.5%;
    transform: translateX(-22.5%);
}

#restartButton {
    padding: 1vw 2vw; /* Use vw unit for responsive padding */
    font-size: 1.8vw; /* Use vw unit for responsive font size */
    background-color: red;
    border: none;
    color: black;
    cursor: pointer;
    /* Add the height property to increase the height of the button */
    width: 12%; /* Use percentage for width to adjust based on viewport width */
    height: 10%; /* Use percentage for height to adjust based on viewport height */
    border-radius: 10px;
    /* The restart button is being positioned in the game over function as well */
    position: absolute;
    top: 70%;
    left: 44%;
}

#shareContainer {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
    #shareText {
        margin-top: 0.5rem; /* Adjust the spacing between the button and text */
        font-size: 2vw; /* Adjust the font size as needed */
        color: yellow;
        top: 80%;
        left: 50%;
        font-weight: bold; /* Apply bold font weight */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text-shadow for shadow effect */

    }

    #shareXButton {
        padding: 1vw 2vw; /* Use vw unit for responsive padding */
        font-size: 1.8vw; /* Use vw unit for responsive font size */
        background-color: white;
        border: none;
        cursor: pointer;
        width: 50%; /* Use percentage for width to adjust based on viewport width */
        height: 98%; /* Use percentage for height to adjust based on viewport height */
        border-radius: 50px;
        position: absolute;
        top: 70%;
        left: 00%;
        background-image: url('media/xlogo.png');
        background-size: 90%; /* Adjust how the background image is sized */
        background-repeat: no-repeat;
        background-position: center;
    }
    #shareInstaButton {
        padding: 1vw 2vw; /* Use vw unit for responsive padding */
        font-size: 1.8vw; /* Use vw unit for responsive font size */
        background-color: white;
        border: none;
        cursor: pointer;
        width: 50%; /* Use percentage for width to adjust based on viewport width */
        height: 98%; /* Use percentage for height to adjust based on viewport height */
        border-radius: 50px;
        position: absolute;
        top: 70%;
        left: 50%;
        background-image: url('media/instalogo.png');
        background-size: 105%; /* Adjust how the background image is sized */
        background-repeat: no-repeat;
        background-position: center;
    }

/* Add this new style for the speed bonus time */
.speed-bonus-time {
  color: yellow;
  font-size: 1.6vw; /* Use vw unit for responsive font size */
  text-align: center;
  position: absolute;
  bottom: -6vh; /* Use vh unit for responsive vertical position */
  left: 0;
  right: 0;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Add black shadow */
}
/* Apply green color when debuffed is true */
.debuffed-class {
  color: green; /* Change text color to red */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Add black shadow */
}