body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrollbars */
    background-color: #222; /* Set the background color of the page */
    height: 100%;
}

#gameContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%; /* Set the width of the game container to 80% of the viewport width */
    height: 90%; /* Set the height of the game container to 60% of the viewport height */
}

canvas {
    display: block;
    margin: auto;
    //border: 5px solid black; /* Add a 5px black border around the canvas */
    width: 100%; /* Make the canvas fill the entire width of the game container */
    height: 100%; /* Make the canvas fill the entire height of the game container */
    box-sizing: border-box; /* Include the border in the element's total width and height */
    background-color: white; /* Set the background color of the canvas */
    background-image: url('media/background.jpeg'); /* Replace with the actual image path */
    background-size: cover; /* Adjust how the background image is sized */
    background-repeat: no-repeat;
    background-position: center center;
}

/* Main menu styles... */
#mainMenuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make the main menu container fill the entire width of the viewport */
    height: 100%; /* Make the main menu container fill the entire height of the viewport */
    z-index: 1;
    font-family: Arial, sans-serif;
    color: white;
    background-image: url('media/splash.jpeg'); /* Replace with the actual path to the background image */
    background-size: cover; /* Adjust how the background image is sized */
    background-repeat: no-repeat;
    background-position: center center;
}

#mainMenuContainer h1 {
    font-size: 4vw; /* Use vw unit for responsive font size */
    position: absolute;
    top: 00%;
    left: 25%;
}

#startButton {
    padding: 1vw 2vw; /* Use vw unit for responsive padding */
    font-size: 3vw; /* Use vw unit for responsive font size */
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    width: 18%; /* Use percentage for width to adjust based on viewport width */
    height: 10%; /* Use percentage for height to adjust based on viewport height */
    border-radius: 10px;
}

/* Style for the music toggle image */
#musicToggle {
    position: absolute;
    top: 1.5vh; /* Use vh unit for responsive vertical position */
    right: 1.5vw; /* Use vw unit for responsive horizontal position */
    cursor: pointer;
    width: 5vw; /* Use vw unit for responsive width */
    height: 5vh; /* Use vh unit for responsive height */
}

#heartsContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1.5vh; /* Use vh unit for responsive vertical position */
}

#restartButton {
    padding: 1vw 2vw; /* Use vw unit for responsive padding */
    font-size: 1.8vw; /* Use vw unit for responsive font size */
    background-color: red;
    border: none;
    color: black;
    cursor: pointer;
    /* Add the height property to increase the height of the button */
    width: 12%; /* Use percentage for width to adjust based on viewport width */
    height: 8%; /* Use percentage for height to adjust based on viewport height */
    border-radius: 10px;

    /* The restart button is being positioned in the game over function as well */
    position: absolute;
    top: 60%;
    left: 43%;
}

/* Add this new style for the speed bonus time */
.speed-bonus-time {
  color: white;
  font-size: 1.8vw; /* Use vw unit for responsive font size */
  text-align: center;
  position: absolute;
  bottom: -6vh; /* Use vh unit for responsive vertical position */
  left: 0;
  right: 0;
}